body{
  text-align:center;
  font-family: 'Architects Daughter', cursive;
  font-size:2em;
  background: #FADEDE;

    input{
      background:    black;
      border:        1px solid #000;
      border-radius: 99px;
      box-shadow:    0 1px 0 0 #444;
      color:         #fff;
      display:       inline-block;
      padding:       8px 20px;
      font:          normal 400 1em/1 'Architects Daughter', cursive;
      text-align:    center;
      text-shadow:   1px 1px 0 #000;
      }

}
